:root {
font-family: "Courier New", monospace;
font-size: 16px;  /* fallback */
font-size: 1.8vw;
}

@media (min-width: 4000px) {
    /* Ultra wide screens need some adaptation as the font size would simply 
       be to big. In this case, we put half of the specified size in here.
       Unfortunately, I cannot test this as I do not have such a display. */
    :root {
    font-size: 16px;  /* fallback */
    font-size: 0.9vw;
    }
}

body {
padding-left: 3vw;
padding-right: 3vw;
}

h1 {
font-family: Arial;
font-size: 250%;
text-align: center;
}

h2 {
font-size: 150%;
margin: 0em;
margin-bottom: 1em;
margin-top: 0.25em;
padding: 0em;
text-align: center;
}

h2.index {
margin-top: 2em;
}

h3 {
font-size: 125%;
margin: 0em;
margin-bottom: 0.5em;
padding: 0em;
text-align: center;
}

h4 {
font-size: 110%;
margin: 0em;
margin-top: 2em;
margin-bottom: 0.5em;
text-align: left;
}

p {
text-align: left;
}

a:link {
color: #8bab69;
}

a:visited {
color: #558f18;
}

a:hover {
color: #558f18;
font-weight: bold;
}

a.index_link {
display: inline-block;
margin-bottom: 1.1em;
}

a.project_link {
display: inline-block;
margin-bottom: 1.1em;
}

a.repo_link {
display: inline-block;
margin-bottom: 1.1em;
}

div.module_docstring > p {
margin-top: 0em;
margin-bottom: 0em;
margin-right: 0em;
padding: 0em;
}

div.module_docstring > p.line {
white-space: pre;
}

div.classes, div.functions, div.global_vars {
margin: 0.2em;
margin-top: 3em;
padding: 0.5em;
}

div.classes {
background-color: #ececec;
border-color: #a4a4a4;
border-radius: 0.6em;
border-style: dashed;
border-width: 0.15em;
}

div.class {
background-color: #daffb3;
border-color: #558f18;
border-style: solid;
border-radius: 0.4em;
border-width: 0.13em;
margin: 0em;
margin-left: 0.25em;
margin-right: 0.25em;
margin-bottom: 2em;
padding: 1em;div.class {
background-color: #daffb3;
border-color: #558f18;
border-style: solid;
border-radius: 0.4em;
border-width: 0.13em;
margin: 0em;
margin-left: 0.25em;
margin-right: 0.25em;
margin-bottom: 2em;
padding: 1em;
}
}

div.class_docstring > p {
margin-top: 0em;
margin-bottom: 0em;
margin-right: 0em;
padding: 0em;
}

div.class_docstring > p.line {
white-space: pre-wrap;
}

div.attributes {
}

div.attribute {
padding: 0em;
margin: 0em;
margin-bottom: 1.6em;
}

div.attribute > p {
font-family: monospace;
font-size: 95%;
padding: 0em;
margin-bottom: 0.3em;
}

div.attribute > p.class_variable_hint {
font-size: 75%;
font-style: italic;
line-height: 100%;
margin: 0em;
margin-bottom: 0.7em;
padding-left: 3.25em;
white-space: pre-wrap;
}

div.attribute_docstring {
font-size: 85%;
line-height: 100%;
margin: 0em;
padding-left: 3em;
white-space: pre-wrap;
}

div.attribute_docstring > p {
margin-top: 0em;
margin-bottom: 0em;
margin-right: 0em;
padding: 0em;
}

div.attribute_docstring > p.line {
white-space: pre;
}

div.functions {
background-color: #ececec;
border-color: #a4a4a4;
border-radius: 0.6em;
border-style: dashed;
border-width: 0.15em;
}

div.function {
background-color: #daffb3;
border-color: #558f18;
border-style: solid;
border-radius: 0.4em;
border-width: 0.13em;
margin: 0em;
margin-left: 0.25em;
margin-right: 0.25em;
margin-bottom: 2em;
padding: 1em;
}

div.function > p {
font-family: monospace;
font-weight: bold;
margin: 0em;
margin-bottom: 0.7em;
padding: 0em;
}

div.function_docstring {
padding-left: 4ch;
font-size: 95%;
}

div.function_docstring > p {
margin-top: 0em;
margin-bottom: 0em;
margin-right: 0em;
padding: 0em;
}

div.function_docstring > p.line {
white-space: pre;
}

div.global_vars {
background-color: #ececec;
border-color: #a4a4a4;
border-radius: 0.6em;
border-style: dashed;
border-width: 0.15em;
}

div.global_var {
padding: 0em;
margin: 0em;
margin-bottom: 1.7em;
}

div.global_var > p {
font-family: monospace;
font-weight: bold;
padding: 0em;
margin-bottom: 0.5em;
}

div.global_var_docstring {
padding-left: 4ch;
font-size: 95%;
line-height: 100%;
}

div.global_var_docstring > p {
margin-top: 0em;
margin-bottom: 0em;
margin-right: 0em;
padding: 0em;
}

div.global_var_docstring > p.line {
white-space: pre;
}

div.method {
background-color: #c9c9c9;
border-color: #383838;
border-style: dotted;
border-radius: 0.4em;
border-width: 0.09em;
margin: 0em;
margin-left: 0.35em;
margin-right: 0.35em;
margin-bottom: 1.1em;
padding: 0.7em;
}

div.method > p {
font-family: monospace;
font-weight: bold;
margin: 0em;
margin-bottom: 0.72em;
padding: 0em;
}

div.method_docstring {
padding-left: 4ch;
font-size: 95%;
}

div.method_docstring > p {
margin-top: 0em;
margin-bottom: 0em;
margin-right: 0em;
padding: 0em;
}

div.method_docstring > p.line {
white-space: pre;
}

div.index_subpackage {
margin: 0em;
margin-bottom: 3.7em;
margin-top: 2em;
padding: 0em;
}

p.index_subpackage_name {
font-weight: bold;
font-size: 105%;
}

div.index_module {
margin: 0em;
margin-bottom: 1.2em;
padding: 0em;
}

a.index_module_name {
font-size: 110%;
}

p.index_module_description {
margin: 0em;
margin-left: 3ch;
margin-top: 0.3em;
padding: 0em;
}

p.indent0 {
margin-left: 0ch;
}

p.indent1 {
margin-left: 1ch;
}

p.indent2 {
margin-left: 2ch;
}

p.indent3 {
margin-left: 3ch;
}

p.indent4 {
margin-left: 4ch;
}

p.indent5 {
margin-left: 5ch;
}

p.indent6 {
margin-left: 6ch;
}

p.indent7 {
margin-left: 7ch;
}

p.indent8 {
margin-left: 8ch;
}

p.indent9 {
margin-left: 9ch;
}

p.indent10 {
margin-left: 10ch;
}

p.indent11 {
margin-left: 11ch;
}

p.indent12 {
margin-left: 12ch;
}

p.indent13 {
margin-left: 13ch;
}

p.indent14 {
margin-left: 14ch;
}

p.indent15 {
margin-left: 15ch;
}

p.indent16 {
margin-left: 16ch;
}

p.indent17 {
margin-left: 17ch;
}

p.indent18 {
margin-left: 18ch;
}

p.indent19 {
margin-left: 19ch;
}

p.indent20 {
margin-left: 20ch;
}

p.indent21 {
margin-left: 21ch;
}

p.indent22 {
margin-left: 22ch;
}

p.indent23 {
margin-left: 23ch;
}

p.indent24 {
margin-left: 24ch;
}

p.indent25 {
margin-left: 25ch;
}

p.indent26 {
margin-left: 26ch;
}

p.indent27 {
margin-left: 27ch;
}

p.indent28 {
margin-left: 28ch;
}

p.indent29 {
margin-left: 29ch;
}

p.indent30 {
margin-left: 30ch;
}

p.indent31 {
margin-left: 31ch;
}

p.indent32 {
margin-left: 32ch;
}
